
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
     <link rel="stylesheet" href=".../public/css/style.css">
    <title>Document</title>
</head>
<body>

  <header>

  </header>
  
  <main>
  {{!-- <div>
    <form class="form logging-form">
    <label for="food-item">Food:</label>
    <input type="text" id="food-item" name="food-item"><br><br>
    <label for="amount">Amount:</label>
    <input type="text" id="amount" name="amount">
    <label for="unit">Unit:</label>
    <input type="text" id="unit" name="unit"><br><br>
    <input type="submit" value="Submit">
    </form>
    </div> --}}
   {{{body}}}
  </main>
 
</body>

</html>