{{!-- {{#if calorie.length}}
<div class="col-md-6 calorie-list">
    <h3>Your Calories</h3>
    {{#each calorie as |calorie|}}
    <div>
        <p>
        {{calorie.food_name}}
        </p>
    </div>
</div> --}}